<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container-fluid">

  <h1>{{arr.vegetableName}} Information</h1> 
</div>
<div>
    <table>
        <tr><img src="/assets/{{arr.picture}}"  width="100" height="100"></tr>
        <tr><b>VegetableID:</b>{{arr.vegetableId}}</tr>
        <tr><b>VegetableName:</b>{{arr.vegetableName}}</tr>
        <tr><b>Vegetable Price:</b>{{arr.vegetableAmount|currency:'INR'}}</tr>
        <tr><b>Discount Coupon Applied:</b> {{arr.discount.discountCoupon}}</tr>
        <tr><b>Discount Percentage:</b>{{arr.discount.discountPercentage}}% {{arr.discount.discountType}}</tr>
        <tr><b>Offered Price: {{(arr.vegetableAmount-arr.discount.discountPercentage/100*arr.vegetableAmount)|currency:'INR'}}</b></tr> 
        <tr><b>Vegetable Rating:</b>{{arr.Rating}}</tr>
          <tr><b>FeedBack:</b>{{arr.Feedback}}</tr>
       
    </table>
</div>