table{
    width: 100%;
  }
  .container-sm{
    color: black;
    margin-left: 1mm;
    background-color: skyblue;
    margin-top: 1mm;
    width: 80%;
    text-align: front;
    border-radius: 10%;
  }
  .mylink{
    color: blue;
  }
  .btn btn-info
  {
    color:azure;
    
  }