
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container-fluid">

  <h1><b>Welcome to Online Vegetable Store</b>
    </h1>
 
</div>
  <table style="width: 90%;">
    <tr>
 <p class="ok"><button type="button" class="btn btn-info" (click)="logout()"><span class="material-symbols-outlined">Logout</span></button></p>
 </tr>
</table>
  


