
<div class="wrapper">
    <div class="logo">
        <img src="/assets/vegetables.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
      <h5 > Online Vegetable Store </h5>
      <h5>Enter login details</h5>
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" [(ngModel)]="data.username" required placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" [(ngModel)]="data.password" required  placeholder="Password">
        </div>
        <button class="btn mt-3" (click)="formSubmit()">Login</button>
       
    </form>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" [(ngModel)]="data.username" required placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" [(ngModel)]="data.password" required  placeholder="Password">
        </div>
        <button class="btn mt-3" (click)="formSubmit1()">Register</button>
       
    </form>
    

</div>
